/*==========================================================================
[Marketing In Color]

Project:        MA Game
Version:        0.0.2
Last change:    12/08/16 [Final Copy Edits, AD]
Assigned to:    ET, AD
Primary use:    Digital Marketing


[Table of contents]

1.0 Main
1.1 Modal Controls
2.0 Foundation Overides
3.0 Overlay Controls

[4.0 Animations]
    4.1 Spotlight
    4.2 Close Button

[5.0 Media Queries]
    5.1 iPhone 5
    5.2 Small Screens
    5.3 Medium Screens
    5.4 Large Screens
    5.5 XLarge Screens
    5.6 XXLarge Screens


/* ==========================================================================
1.0 MAIN
========================================================================== */
.boomcity { }
#wrapper { min-height:96%; position:relative; }
.header { background-color: #CDE3F4; text-align:center; position:relative; padding:1em 0; }
.header-home { background-color: #CDE3F4; text-align:center; position:relative; }
.main, .results-main { display:block; position:relative; top:0; width:100%; }
.secondary { position: relative; }
.foot { }
.foot-cta { background-color: #B2B4BB; padding:1em; }
.foot-cta-home { background-color: #848792; padding:1em;  bottom:0px;  bottom:0px; }
#dynamicContentID0 div { width:30%; margin:auto; line-height:1.125; font-weight:bold; }
#dynamicContentClick { /*display:inline-block;*/ }
#container { height:100%; }
#modalTitle { color:#f07d00; font-weight:bold; }
.start .content p:last-child { margin-bottom:2em; }
.start-p { margin-bottom:1.5em; }
.intro .content .play-button { font-size:2.5em; font-weight: bold; background-color:#f07d00; border-color:#f07d00; color:#fff; border-radius:15px; padding:0.75rem 1.75rem; margin:0; }
.intro-home .content .play-button { font-size:2.5em; font-weight: bold; background-color:#f07d00; border-color:#f07d00; color:#fff; border-radius:15px; padding:0.75rem 1.75rem; margin:0; }
.intro .content p { text-align:left; line-height:1.125; }
.intro-home .content p { text-align:left; line-height:1.125; }
.content { text-align:center; }
.interact, .intro { margin-top:2em;  width:100%; z-index:100; padding-bottom:30px; }
.interact, .intro-home { margin-top:2em;  width:100%; z-index:100; padding-bottom:30px; }
.interact button { background-color:#fff; border-color:#f07d00; color:#f07d00; border-radius:25px; border-width:1px; padding:0.25rem 0.95rem; margin:0; }
.interact button:hover, .interact button:focus { background-color:#f07d00; }
.interact .content h3 { line-height:1; }
.tablet-footer { position: relative; bottom:0px; }
.clouds { width: 50%; }
.results-clouds { padding-top:3em !important; }
.sign { padding-top: .125em; display: inline-block; font-family: 'Open Sans', sans-serif; }
.long-sign { font-family: 'Open Sans', sans-serif; overflow:hidden; padding-bottom:1px; }
.congrats-headline { font-size:.9em !important; }
.results-main { top:20%; }
.results-p { margin-bottom: 2em !important; }
.interact h3 { font-weight:bold; }
.email-p { font-size: .75em !important; }
.none { display:none; }

/* ==========================================================================
1.1 Modal Controls
========================================================================== */

.reveal-modal .close-reveal-modal { top: 0rem !important; right: 0rem !important; font-size:initial !important; }


/* ==========================================================================
2.0 FOUNDATION OVERIDES
========================================================================== */
body { font-size: 14px !important; }
p { line-height: 1.5em !important; margin-bottom:5px !important; font-family: 'Open Sans', sans-serif !important; color: #404040 !important; }
h3 { font-family: 'Open Sans', sans-serif !important; color: #6e727f !important; }
h4 { font-family: 'Open Sans', sans-serif !important; color: #6e727f !important; line-height: 1.2em !important; }
footer { position: absolute ; bottom:0;width:100%; height:30px; padding-top: 2em; height:4%;}

/* ==========================================================================
3.0 OVERLAY CONTROLS
========================================================================== */
.overlay { overflow-x: hidden; }
.overlay { position: absolute; top: 0; left: 0; text-align:center; width:100%; }
.overlay.bgnd { background: url(./images/mic-bc-grfx-main-bgnd.png) repeat-x scroll top center / contain;  }
.overlay.bgnd { z-index:10; }
.overlay.start { z-index:12; }
.overlay.two { z-index:14; }
.overlay.three { z-index:16; }
.overlay.four { z-index:18; }
.overlay.five { z-index:20; }
.overlay.six { z-index:22; }
.overlay.seven { z-index:24; }
.overlay.eight { z-index:26; }
.overlay.busname { z-index:15; }
.off { display:none; }
.on { display:inherit; }

/* ==========================================================================
4.1 SPOTLIGHT
========================================================================== */
.spot1 { left: 40%; -webkit-animation: move 10s infinite; }
.spot2 { -webkit-animation: move 5s infinite; }
.spot3 { left: 50%; -webkit-animation: move 5s infinite; }
.spot4 { left: 55%; -webkit-animation: move2 10s infinite; }
.spotlight {
    position: absolute;
    bottom:0px;
    width: 53px;
    height: 0px;
    border-top: 260px solid rgba(255,255,255,0.25);
    border-left: 40px solid transparent;
    border-bottom: 0px solid #575;
    border-right: 40px solid transparent;
    background-color: transparent;
    -webkit-transform-origin: 50% 100% 0;
    z-index: 0;
    z-index:1;
    /*-webkit-transition-timing: ease-in-out;*/
}

 @-webkit-keyframes move {
  0%  { -webkit-transform: rotate(30deg); }
  50% { -webkit-transform: rotate(-30deg); }
  100% { -webkit-transform: rotate(30deg); }
}

 @-webkit-keyframes move2 {
  0%  { -webkit-transform: rotate(-30deg); }
  50% { -webkit-transform: rotate(30deg); }
  100% { -webkit-transform: rotate(-30deg); }
}

/* ==========================================================================
4.2 CLOSE BUTTON
========================================================================== */
.reveal-modal .close-reveal-modal { padding: 0px 8px; border-radius: 50%; color: #f07d00 !important; }
.reveal-modal .close-reveal-modal:hover { animation-name: rotate; animation-duration: 2s; animation-iteration-count: 1; }

@keyframes rotate {
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}

/* ==========================================================================
5.1.1 IPHONE 5
========================================================================== */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 

    .interact button { font-size: .8em; }
    .interact .content h3 { font-size: 1.245em; }
}

/* ==========================================================================
5.1.2 IPHONE 6
========================================================================== */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

    .interact .content h3 { font-size: 1.45em; }
}

/* ==========================================================================
5.2 SMALL SCREENS
========================================================================== */
@media only screen {
    h3 { line-height: 1.2em !important; }
    #click-here-cloud { padding:.5em; margin: .5em; }
    .foot-cta-home { margin-top:5em; }
    .intro .content .play-button { font-size:1.28em; }
    .intro-home .content .play-button { font-size:1.28em; }
    .start .content p { font-size: 1em !important; }
    .foot-cta img { width: 65%; }
    .foot-cta img { width: 65%; }
    .foot-cta-home img { width: 65%; display: block; margin: 0 auto; }
    .content h3 { font-size: 1.45em !important; font-weight:600 !important; margin-bottom: 0.25em; }
    .content h4 { font-size: 1.125em; font-weight:bold !important; margin-bottom: 0.25em; }
    .content p { font-size: 1em; margin-bottom:1em !important; }
    .welcome-interact h3 { margin:.5em 0; }
    .welcome-interact p { margin-top: .5em; }
    .learn-interact { margin-top:2em; height: 250px; padding-top:1em; }
    .learn-interact h3 { margin: .5em 0 1em; }
    .learn-interact p { margin-top:1em; }
    .start .content h3 { letter-spacing: .04em; padding-bottom: .7em; margin-top: 0; margin-bottom: 0;}
    .results-main { top: 20%; }
    .email-p { padding: 2em 0; }
    .interact, .intro { position:relative; }
    .interact, .intro-home {  }
    .interact { height:75px; }
    .welcome-interact { height:150px; margin-top:2em; }
    .query { font-size:.75em; }
    .interact button { font-size:1.1.6666em; /*padding: 0.15rem 0.75rem;*/ padding: .4rem 1.4rem; }
    .overlay.bgnd { background: url(./images/mic-bc-grfx-main-bgnd.png) repeat-x scroll 50% 75% / 150% 150%; }
    .overlay.bgnd-2x { background: url(./images/mic-bc-grfx-main-bgnd-start.png) repeat-x scroll 50% 75% / 100% 100%; }
    /*.overlay.bgnd-results { background: url(./images/mic-bc-grfx-main-bgnd-results.png) repeat-x scroll 50% 75% / 100% 100%; }*/
    .overlay.bgnd-results-beta { background: url(./images/small-results.png) repeat-x scroll 50% 75% / 150% 150%; }
    .overlay.bgnd-results { background: url(./images/mic-bc-grfx-main-bgnd-after.png) repeat-x scroll 50% 75% / 150% 150%; }
    .overlay.start.alpha { background: url(./images/mic-bc-grfx-main-construct.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.bgnd-after { background: url(./images/mic-bc-grfx-main-bgnd-after.png) repeat-x scroll 50% 75% / 150% 150%; }
    .overlay.start.beta { background: url(./images/mic-bc-grfx-main-construct-anim.gif) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.result { background: url(./images/mic-bc-grfx-main-construct.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.two.alpha { background: url(./images/mic-bc-grfx-main-b2b.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.two.beta { background: url(./images/mic-bc-grfx-main-b2c.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.two.gamma { background: url(./images/mic-bc-grfx-main-construct2.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.two.delta { background: url(./images/mic-bc-grfx-main-construct2-anim.gif) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.two.epsilon { background: url(./images/mic-bc-grfx-main-b2c-open.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.two.feta { background: url(./images/mic-bc-grfx-main-b2b.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.three.alpha { background: url(./images/mic-bc-grfx-main-team-yes.gif) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.three.beta { background: url(./images/mic-bc-grfx-main-team-no.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.three.gamma { background: url(./images/mic-bc-grfx-main-construct2.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.four.alpha { background: url(./images/mic-bc-grfx-main-crm-yes.gif) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.four.beta { background: url(./images/mic-bc-grfx-main-crm-no.gif) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.five.alpha { background: url(./images/mic-bc-grfx-main-os-yes.gif) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.five.beta { background: url(./images/mic-bc-grfx-main-os-no.gif) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.six.alpha { background: url(./images/mic-bc-grfx-main-ribbon.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.seven.alpha { background: url(./images/mic-bc-grfx-main-ribbon-shine.gif) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.eight.alpha { background: url(./images/mic-bc-grfx-main-owner-m.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.eight.beta { background: url(./images/mic-bc-grfx-main-owner-f.png) no-repeat scroll 50% 75% / 150% 150%; }
    .clouds { width: 100%; }
    #dynamicContentID0 { }
    #dynamicContentID0 div { font-size:0.75em; }
    #dynamicContentIDX, #dynamicContentIDY { font-size:0.75em; }
    #dynamicContentIDX { font-size: 1em; font-weight:600 !important; font-family: 'Open Sans', sans-serif !important; color: #6e727f !important; }
    #dynamicContentIDY { margin: 1.5em 0; }
    #dynamicContentClick { /*max-width:40%;*/ }
    .spotlight { border-top: 100px solid rgba(255,255,255,0.25); border-left: 20px solid transparent; border-right: 30px solid transparent; }
    .party-hat { width:18%; display:block; margin:0 auto;}
    .spotlight { 
        filter: blur(4px;);     
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
    }
    .spot2 { display:none; left: 35%; }
    .spot3 { display:none; }
    .sign { padding-top: .0125em; }
} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* ==========================================================================
5.3 MEDIUM SCREENS
========================================================================== */
@media only screen and (min-width: 40.063em) {
    footer { height: 2%; }
    .foot-cta-home { margin-top:0em; }
    .intro .content .play-button { font-size:1.428em; }
    .intro-home .content .play-button { font-size:1.428em; }
    .start .content p { font-size: 1em !important; padding: 0 3em; }
    .content h3 { font-size:1.571em !important; font-weight:600 !important; margin-bottom: 0.25em; padding-bottom: .8em; }
    .content h4 { font-size: 1.2em !important; margin-bottom: 0.25em; }
    .welcome-p { font-size:1.149em !important; margin-bottom: 0.25em; }
    .content p { font-size: 1.2em; margin-bottom:2em !important; margin-top: .8em; !important;  }
    .main { top:15%; }
    .results-main { top:initial; }
    .results-main { display:block; position:relative; top:17%; width:100%; }
    .interact, .intro { position:absolute; margin-top:4em; }
    .interact-welcome { height: 50px; }
    .query { font-size:1.125em; }
    .interact button { font-size:1.125em; /*padding:0.25rem 0.95rem;*/ padding: .4rem 1.5rem; }
    .overlay.bgnd { background: url(./images/mic-bc-grfx-main-bgnd.png) repeat-x scroll 50% 25% / 100% 100%; }
    .overlay.bgnd-2 { background: url(./images/mic-bc-grfx-main-bgnd-start.png) repeat-x scroll 50% 25% / 100% 100%; }
    /*.overlay.bgnd.results { background: url(./images/mic-bc-gfrx-main-bgnd-results.png) repeat-x scroll 50% 25% / 100% 100%; }*/
    .overlay.bgnd-results { background: url(./images/mic-bc-grfx-main-bgnd-after.png) repeat-x scroll 50% 25% / 100% 100%; }
    .overlay.bgnd-after { background: url(./images/mic-bc-grfx-main-bgnd-after.png) repeat-x scroll 50% 25% / 100% 100%; }
    .overlay.start.alpha {background: url(./images/mic-bc-grfx-main-construct.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.start.beta {background: url(./images/mic-bc-grfx-main-construct-anim.gif) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.result {background: url(./images/mic-bc-grfx-main-construct.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.two.alpha {background: url(./images/mic-bc-grfx-main-b2b.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.two.beta {background: url(./images/mic-bc-grfx-main-b2c.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.two.gamma {background: url(./images/mic-bc-grfx-main-construct2.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.two.delta {background: url(./images/mic-bc-grfx-main-construct2-anim.gif) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.two.epsilon {background: url(./images/mic-bc-grfx-main-b2c-open.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.two.feta { background: url(./images/mic-bc-grfx-main-b2b.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.three.alpha {background: url(./images/mic-bc-grfx-main-team-yes.gif) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.three.beta {background: url(./images/mic-bc-grfx-main-team-no.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.three.gamma {background: url(./images/mic-bc-grfx-main-construct2.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.four.alpha {background: url(./images/mic-bc-grfx-main-crm-yes.gif) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.four.beta {background: url(./images/mic-bc-grfx-main-crm-no.gif) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.five.alpha {background: url(./images/mic-bc-grfx-main-os-yes.gif) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.five.beta {background: url(./images/mic-bc-grfx-main-os-no.gif) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.six.alpha { background: url(./images/mic-bc-grfx-main-ribbon.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.seven.alpha { background: url(./images/mic-bc-grfx-main-ribbon-shine.gif) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.eight.alpha { background: url(./images/mic-bc-grfx-main-owner-m.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.eight.beta { background: url(./images/mic-bc-grfx-main-owner-f.png) no-repeat scroll 50% 25% / 100% 100%; }
    .clouds { width: 50%; }
    #dynamicContentID0 div { font-size:1em; }
    #dynamicContentIDX { font-size:2em; }
    #dynamicContentIDY { font-size:1em; margin-bottom: 2.5em; }
    #dynamicContentIDX, #dynamicContentIDY { padding: 0 0 0 0; }
    #dynamicContentIDY p { padding: 1em 0; }
    #dynamicContentClick { /*max-width:40%;*/ }
    #click-here-cloud { width: 100%; padding:1em 0; }
    #modalTitle { font-size:2em; }
    .reveal-modal .close-reveal-modal { font-size:40px !important; }
    .foot-cta img { width: 31%; }
    .foot-cta-home img { width: 33%; margin: 0 auto; display:block; }
    .spot1 { display:initial; }
    .spot2 { left: 45%; -webkit-animation: move2 5s infinite; display:initial; }
    .spot3 { left: 50%; -webkit-animation: move 5s infinite; display:initial; }
    .spot4 { display:initial; }
    .spotlight { border-top: 260px solid rgba(255,255,255,0.25); border-left: 40px solid transparent; border-right: 40px solid transparent; }
    .welcome-paragraph { padding-top:0; }
    .welcome-main { top: 15%; }
    .learn-interact { height: 0px; }
    .party-hat { width:10%; padding-top:4em; }
    .spotlight { 
        filter: blur(7px;);
        -webkit-filter: blur(7px);
        -moz-filter: blur(7px);
        -o-filter: blur(7px);
        -ms-filter: blur(7px); 
    }
    .sign { padding-top: .75em; }
    .email-p { font-size: 1em !important; }

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* ==========================================================================
5.4 LARGE SCREENS
========================================================================== */
@media only screen and (min-width: 64.063em) {
    footer { height: 4%; }
    .foot-cta-home img { width: 16%; }
    h3 { line-height:1.4em !important; }
    #click-here-cloud { width: 60%; padding-bottom:2em; }
    #dynamicContentIDY { margin-bottom: 3em; }
    .main { /*top:15%;*/ top:0%; }
    .interact, .intro { position:absolute; margin-top:2em;}
    .query { font-size:1.125em; }
    .welcome-main { top: 0%; }
    .welcome-p { font-size:1em !important; }
    .content p { font-size: 1em; }
    .party-hat { padding-top:3em; width: 4%; }
    .results-clouds { padding-top:6em !important; }
    .results-main { top: 15%; }
    .sign { padding-top: 1.125em; }
    .email-p { padding: 3em 0; }
    .arrow-controls { width: 50%; }

    /*.overlay.nine.alpha { background: url(./images/email-automation-button.png) no-repeat scroll 50% 75% / 150% 150%; }*/
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* ==========================================================================
5.5 XLARGE SCREENS
========================================================================== */
@media only screen and (min-width: 90.063em) {
    .main { /*top:5%;*/ }
    .interact, .intro { position:absolute; }
    .query { font-size:1.25em; }
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* ==========================================================================
5.6 XXLARGE SCREENS
========================================================================== */
@media only screen and (min-width: 120.063em) {
    .main { /*top:5%;*/ }
    .interact, .intro { position:absolute; }
    .query { font-size:1.25em; }
} /* min-width 1921px, xxlarge screens */
