/* Custom CSS for Boom City SharpSpring Game! */
.boomcity { }
.header { background-color: #CDE3F4; text-align:center; position:relative; }
.main { display:block; position:relative; top:0; width:100%; }
.secondary { position: relative; }
.foot { }
.foot-cta { background-color: #B2B4BB; padding:1em; }
/* Overlay Controls */
.overlay {overflow-x: hidden; }
.overlay { position: absolute; top: 0; left: 0; text-align:center; width:100%; }
.overlay.bgnd { background: url(./images/mic-bc-grfx-main-bgnd.png) repeat-x scroll top center / contain;  }
.overlay.bgnd { z-index:10; }
.overlay.start { z-index:12; }
.overlay.two { z-index:14; }
.overlay.three { z-index:16; }
.overlay.four { z-index:18; }
.overlay.five { z-index:20; }
.overlay.six { z-index:22; }
.overlay.seven { z-index:24; }
.content { text-align:center; }
.interact, .intro { padding-top:1em; width:100%; z-index:100; }
.interact button { background-color:#fff; border-color:#f07d00; color:#f07d00; border-radius:25px; border-width:1px; padding:0.25rem 0.95rem; margin:0; }
.interact button:hover, .interact button:focus { background-color:#f07d00; }
.interact .content h3 { line-height:1; }
.intro .content p { text-align:left; line-height:1.125; }
.intro .content .play-button { font-size:1.25em; font-weight: bold; background-color:#f07d00; border-color:#f07d00; color:#fff; border-radius:15px; padding:0.75rem 1.75rem; margin:0; }

.off { display:none; }
.on { display:inherit; }

/* FOUNDATION OVERRIDES */
p { line-height: 1.25 !important; margin-bottom:5px !important; }

/* Small screens */
@media only screen {
    .main { /*top:20%;*/ }
    .interact, .intro { position:relative; }
    .interact { height:75px; }
    .query { font-size:.75em; }
    .interact button { font-size:.75em; padding: 0.15rem 0.75rem; }
    .overlay.bgnd { background: url(./images/mic-bc-grfx-main-bgnd.png) repeat-x scroll 50% 75% / 150% 150%;  }
    .overlay.start.alpha {background: url(./images/mic-bc-grfx-main-construct.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.start.beta {background: url(./images/mic-bc-grfx-main-construct-anim.gif) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.two.alpha {background: url(./images/mic-bc-grfx-main-b2b.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.two.beta {background: url(./images/mic-bc-grfx-main-b2c.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.two.gamma {background: url(./images/mic-bc-grfx-main-construct2.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.two.delta {background: url(./images/mic-bc-grfx-main-construct2-anim.gif) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.three.alpha {background: url(./images/mic-bc-grfx-main-team-yes.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.three.beta {background: url(./images/mic-bc-grfx-main-team-no.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.three.gamma {background: url(./images/mic-bc-grfx-main-construct2.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.four.alpha {background: url(./images/mic-bc-grfx-main-crm-yes.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.four.beta {background: url(./images/mic-bc-grfx-main-crm-no.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.five.alpha {background: url(./images/mic-bc-grfx-main-os-yes.png) no-repeat scroll 50% 75% / 150% 150%; }
    .overlay.five.beta {background: url(./images/mic-bc-grfx-main-os-no.png) no-repeat scroll 50% 75% / 150% 150%; }

} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {
    .main { /*top:15%;*/ top:-10%; }
    .interact, .intro { position:absolute; }
    .query { font-size:1.125em; }
    .interact button { font-size:1.125em; padding:0.25rem 0.95rem; }
    .overlay.bgnd { background: url(./images/mic-bc-grfx-main-bgnd.png) repeat-x scroll 50% 25% / 100% 100%;  }
    .overlay.bgnd-after { background: url(./images/mic-bc-grfx-main-bgnd-after.png) repeat-x scroll 50% 25% / 100% 100%;  }
    .overlay.start.alpha {background: url(./images/mic-bc-grfx-main-construct.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.start.beta {background: url(./images/mic-bc-grfx-main-construct-anim.gif) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.result {background: url(./images/mic-bc-grfx-main-construct.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.two.alpha {background: url(./images/mic-bc-grfx-main-b2b.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.two.beta {background: url(./images/mic-bc-grfx-main-b2c.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.two.gamma {background: url(./images/mic-bc-grfx-main-construct2.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.two.delta {background: url(./images/mic-bc-grfx-main-construct2-anim.gif) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.three.alpha {background: url(./images/mic-bc-grfx-main-team-yes.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.three.beta {background: url(./images/mic-bc-grfx-main-team-no.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.three.gamma {background: url(./images/mic-bc-grfx-main-construct2.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.four.alpha {background: url(./images/mic-bc-grfx-main-crm-yes.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.four.beta {background: url(./images/mic-bc-grfx-main-crm-no.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.five.alpha {background: url(./images/mic-bc-grfx-main-os-yes.png) no-repeat scroll 50% 25% / 100% 100%; }
    .overlay.five.beta {background: url(./images/mic-bc-grfx-main-os-no.png) no-repeat scroll 50% 25% / 100% 100%; }

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
    .main { /*top:15%;*/ }
    .interact, .intro { position:absolute; }
    .query { font-size:1.125em; }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
    .main { /*top:5%;*/ }
    .interact, .intro { position:absolute; }
    .query { font-size:1.25em; }
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
    .main { /*top:5%;*/ }
    .interact, .intro { position:absolute; }
    .query { font-size:1.25em; }
} /* min-width 1921px, xxlarge screens */
